* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Fira Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;

  @media (max-width: 1024px) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (max-width: 767px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #12002f;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103f;

  color: #fff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #24104f;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

section {
  h2 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;

    color: #313131;
    font-size: 36px;
  }
}

.button {
  appearance: none;
  border: none;
  outline: none;
  background: none;

  display: inline-block;
  color: #fff;
  font-size: 20px;
  background-color: #ff9fdb;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}

header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: inherit;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 900;

      span {
        font-weight: 400;
        color: #ff9fdb;
      }
    }

    nav {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(4, auto);

      @media (max-width: 767px) {
        display: none;
      }

      a {
        color: inherit;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }

  &.is-scrolling {
    background-color: #12002f;
    .container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

main {
  section.banner {
    color: #fff;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url('../images/header1.jpg');
    background-position: top right;
    background-size: cover;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: #12002f;
      opacity: 0.8;
    }

    .container {
      position: relative;
      z-index: 1;

      h1 {
        font-size: 72px;
        margin-bottom: 32px;

        span {
          color: #ff9fdb;
        }

        @media (max-width: 767px) {
          font-size: 32px;
        }
      }

      h3 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 32px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }
  // menu section
  .menu-section {
    margin: 100px auto;
    @media (max-width: 991px) {
      width: 750px;
    }
    @media (max-width: 767px) {
      width: 320px;
    }
    .section-title {
      text-align: center;
      margin-bottom: 80px;

      h2 {
        text-transform: capitalize;
        font-size: 35px;
        position: relative;
        display: inline-block;
        padding-bottom: 20px;
        margin-bottom: 10px;

        &:before {
          content: '';
          position: absolute;
          width: 60px;
          height: 3px;
          background-color: #ff9fdb;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }
      }
    }
    .menus {
      display: flex;
      gap: 10%;
      justify-content: space-between;
      flex-wrap: wrap;

      .menu-column {
        // width: 30%;
        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 40px;
        }
        h4 {
          text-transform: capitalize;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 20px;
          position: relative;
          padding-bottom: 10px;

          &:before {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: #ff9fdb;
            bottom: 0;
          }
        }
        .single-menu {
          display: flex;
          align-items: center;
          margin-top: 40px;
          @media (max-width: 991px) {
            flex-direction: column;
          }
          @media (max-width: 767px) {
            flex-direction: column;
          }
          img {
            border-radius: 50%;
            max-width: 110px;
            border: 1px dashed #ddd;
            padding: 3px;
            margin-right: 15px;
            transition: 0.3s;
            @media (max-width: 991px) {
              margin-bottom: 15px;
            }
            @media (max-width: 767px) {
              margin-bottom: 25px;
            }
          }
          &:hover img {
            transform: rotate(360deg);
          }
          .menu-content {
            h5 {
              text-transform: capitalize;
              font-size: 20px;
              font-weight: 500;
              border-bottom: 1px dashed #222;
              padding-bottom: 5px;
              margin-bottom: 10px;
              span {
                color: tomato;
                float: right;
                font-weight: 600;
                font-style: italic;
              }
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  // contact section
  .contact {
    background-color: #9b75d7;

    .container {
      padding-top: 64px;
      padding-bottom: 64px;

      h2 {
        color: #fff;
      }

      form {
        display: block;
        margin: 0 auto;
        max-width: 680px;

        .form-grid {
          display: grid;
          grid-gap: 16px;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 16px;

          @media (max-width: 767px) {
            grid-template-columns: 1fr;
          }

          .form-element,
          .form-area {
            appearance: none;
            border: none;
            outline: none;
            background: none;

            display: block;
            width: 100%;
            background-color: #fff;
            border-radius: 8px;

            padding: 16px;
            font-size: 20px;
            color: #313131;

            &::placeholder {
              color: #aaa;
            }
          }

          .form-area {
            grid-column: 1/-1;
          }
        }

        .right-align {
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hide-mob {
    display: none;
  }
}
